body {
  background: linear-gradient(
    110deg,
    #02171e 0%,
    #021923 20%,
    #01131c 45%,
    #000d15 70%,
    #00050c 100%
  );

  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
