.biodata {
  border: rgba(13, 156, 233, 0.222) 1px solid;
  margin: 1.5%;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.071);
  z-index: 1;
}

.edu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 5%;
  column-gap: 5%;
  margin-bottom: 5%;
}

.edu-card {
  height: 70vh;
  border: rgba(13, 156, 233, 0.222) 1px solid;
  border-radius: 20px;
  overflow: hidden;
}

.edu-card .edu-img {
  width: 100%;
  height: 30%;
  background-color: white;
  border-radius: 20px 20px 0 0;

  /* Center the image */
  display: flex;
  justify-content: center;
  align-items: center;
}

.edu-card div img {
  max-width: 70%;
  max-height: 70%;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
}

.edu-name {
  height: 10vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

.edu-name ul {
  list-style: none;
  padding: 0;
  height: auto;
  justify-self: center;
  align-self: center;
}

.montserrat-h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: white;
}

.montserrat-li {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: large;
  color: white;
}

.montserrat-h1-edu {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: large;
  color: white;
  text-align: center;
}

.montserrat-s {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: small;
  color: white;
}

.montserrat-m {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: medium;
  color: white;
}
@media (max-width: 768px) {
  .edu-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
  }
}
