.Footer-body {
  margin-top: 5%;
  height: 50vh;
  /* background-color: #011117; */
  border-top: rgba(13, 156, 233, 0.222) 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.Footer-card {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  z-index: 5;
  width: 100%;
  color: white;
  font-size: 20px;
  place-items: center;
  height: 90%;
}

.form {
  width: 30vw;
  height: 80%;
  border-left: rgba(13, 156, 233, 0.222) 1px solid;
  /* height: 100%; */
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
  gap: 10px;
  justify-items: center;
}

.Footer-card .ulist {
  display: flex;
  flex-direction: column; /* Keeps the list stack vertical */
  justify-content: center; /* Centers the list vertically */
}
.Footer-card .form {
  display: flex;
  flex-direction: column; /* Keeps the list stack vertical */
  justify-content: center; /* Centers the list vertically */
}

.img-holder {
  margin-left: 3vw;
}

.ulist ul {
  list-style-type: none;
}

.ulist ul li {
  padding-bottom: 2vw;
}

.montserrat-li {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: large;
  color: white;
}
.montserrat-li:hover {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: large;
  color: green;
}

.montserrat-h1-form {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: x-large;
}

.montserrat-s {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: small;
  color: white;
}

.montserrat-m {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: medium;
  color: white;
}

.form div {
  display: grid;
  margin-left: 3vw;
  width: 70%;
}

input,
textarea {
  background-color: #011117;
  box-shadow: none;
  border: rgba(13, 156, 233, 0.222) 1px solid;
  padding-left: 1vw;
  align-content: center;
}

textarea:focus {
  align-content: normal;
  padding-top: 10px;
}
.form button {
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 3vh;
  width: 30%;
  background-color: #011117;
  border: rgba(13, 156, 233, 0.222) 1px solid;
  justify-self: center;
  place-self: center;
  translate: -1.5vw 0;
}
.form button:hover {
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 3vh;
  width: 30%;
  background-color: rgba(13, 156, 233, 0.222);
  border: white 1px solid;
  justify-self: center;
  place-self: center;
  translate: -1.5vw 0;
}

.bottom-credit {
  width: 100%;
  border-top: rgba(13, 156, 233, 0.222) 1px solid;
  justify-items: center;
  align-items: center;
}

a:visited,
a {
  color: white;
  text-decoration: none;
}
a:visited:hover,
a:hover {
  color: rgba(13, 156, 233, 0.222);
  text-decoration: none;
}

@media (max-width: 768px) {
  .form {
    grid-column: span 3;
  }

  .img-holder {
    display: none;
  }

  .Footer-body {
    height: auto;
  }

  .Footer-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-top: 20px;
    z-index: 1;
    width: 90%;
    place-items: center;
    text-align: center;
  }

  .Footer-card div {
    width: 100%;
  }

  .form div {
    display: grid;
    margin-left: 1vw;
    width: 90%;
  }
  .bottom-credit {
    width: 100%;
    border-top: rgba(13, 156, 233, 0.222) 1px solid;
    justify-items: center;
    align-items: end;
  }

  ul {
    margin-left: 0;
    padding-left: 0;

    margin-top: 10vh;
  }

  ul li {
    padding-bottom: 5vh;
  }
}
